.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.searchContainer {
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 225, 0.717);
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
}

.searchContainer__left {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.searchContainer small {
    width: 3rem;
    color: white
}

.searchContainer__right {
    display: flex;
    gap: 1rem;
}

.searchContainer__filter {
    width: 10rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}